/* Color Theme Swatches in Hex 
.Mosa-Jam-2018-Japanese-style-1-hex { color: #48358C; }
.Mosa-Jam-2018-Japanese-style-2-hex { color: #F2C777; }
.Mosa-Jam-2018-Japanese-style-3-hex { color: #F27E63; }
.Mosa-Jam-2018-Japanese-style-4-hex { color: #D9A79C; }
.Mosa-Jam-2018-Japanese-style-5-hex { color: #F26363; }
*/

.container-fluid, html {
	width: 100%;
	background-color: #D9A79C;
	text-align: center;
}

#rodape{
	background-color: white;
	color: #F26363;

}
.titulo{
	text-align: center;
	color: white;
	font-size: 20px;
}
.carousel-caption{
	-webkit-text-stroke-width: 0.75px;
	-webkit-text-stroke-color: black;
}
